/* font-weight */
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;

/* colors */
$primaryButtonBackground: rgb(40, 147, 183);
